@keyframes wiggle {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -8%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes spin3D {
  from {
    transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
  to {
    transform: rotate3d(0deg);
  }
}

.circle-border {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.1) 33%,
    rgb(65, 144, 255) 100%
  );
  animation: spin 0.8s linear 0s infinite;
}

.logo-image {
  animation: wiggle 2s ease-in-out infinite;
}
